* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.wrapper{
    background-image: url(./2.jpg);
     background-repeat:no-repeat; 
     background-size:100%;
    overflow-y: hidden; 
}
  .content {
    
  
    margin:18.2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
 